<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD05BB951C82EA6600A5CEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD05BBA91C82EA6600A5CEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD05BBB41C82EA6600A5CEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
