<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageView02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDF2D0DB1C6D506D002AB2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF2D0EF1C6D506E002AB2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF2D0FA1C6D506E002AB2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
